/* Grid */
.grid {
    box-sizing: border-box;
    padding: 0 18px;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-column-gap: 1em;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}


/* Placement grid */
.grid > * {
    grid-column: 2/-1;
}

.grid--full > * {
    grid-column: 1/6;
}

.grid-start1 {
    grid-column-start: 1;
}  
.grid-start2 {
    grid-column-start: 2;
}
.grid-start3 {
    grid-column-start: 3;
}
.grid-end4 {
    grid-column-end: 4;
}
.grid-end5 {
    grid-column-end: 5;
}


.credit {
    display: none;
}


@media (min-width: 768px) { /* Tablette (768px et plus) */
    .grid {
        grid-template-columns: 1fr 2fr 4fr 1fr 2fr;
        padding: 0 54px;
        grid-column-gap: 2em;
    }


    /* Placement grid */
    .grid > * {
        grid-column: 3/-1;
    }
    .grid--full > * {
        grid-column: 1/-1;
    }
        
    .tgrid-start1 {
        grid-column-start: 1;
    }  
    .tgrid-start2 {
        grid-column-start: 2;
    }
    .tgrid-start3 {
        grid-column-start: 3;
    }
    .tgrid-start4 {
        grid-column-start: 4;
    }
    .tgrid-end2 {
        grid-column-end: 2;
    }
    .tgrid-end4 {
        grid-column-end: 4;
    }
    .tgrid-end5 {
        grid-column-end: 5;
    }

    /* Footer Grid */
    .footer-content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer-copyright {
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }

    .mcredit {
        display: none;
    }
    .credit {
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 1280px) { /* Desktop (1280px et plus) */
    .grid {
        grid-template-columns: 1fr 2fr 4fr 1fr 2fr;
        padding: 0 134px;
        grid-column-gap: 2em;
    }


    /* Placement grid */
    .grid > * {
        grid-column: 3/-1;
    }
    .grid--full > * {
        grid-column: 1/-1;
    }
        
    .dgrid-start1 {
        grid-column-start: 1;
    }  
    .dgrid-start2 {
        grid-column-start: 2;
    }
    .dgrid-start3 {
        grid-column-start: 3;
    }
    .dgrid-start4 {
        grid-column-start: 4;
    }
    .dgrid-end2 {
        grid-column-end: 2;
    }
    .dgrid-end3 {
        grid-column-end: 3;
    }
    .dgrid-end4 {
        grid-column-end: 4;
    }
    .dgrid-end5 {
        grid-column-end: 5;
    }
}